---
---
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link rel="icon" href="site_assets/images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="site_assets/images/favicon.ico" type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Dographer | Come With Me</title>
	<link rel="stylesheet" href="style.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script type="text/javascript" src="site_assets/js/jquery.aw-showcase.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {
			$("#showcase").awShowcase(
				{
					content_width: 1004,
					content_height: 479,
					fit_to_parent: false,
					auto: true,
					interval: 3000,
					continuous: true,
					loading: true,
					tooltip_width: 200,
					tooltip_icon_width: 32,
					tooltip_icon_height: 32,
					tooltip_offsetx: 18,
					tooltip_offsety: 0,
					arrows: true,
					buttons: false,
					btn_numbers: false,
					keybord_keys: true,
					mousetrace: false, /* Trace x and y coordinates for the mouse */
					pauseonover: true,
					stoponclick: false,
					transition: 'hslide', /* hslide/vslide/fade */
					transition_delay: 0,
					transition_speed: 500,
					show_caption: 'onload', /* onload/onhover/show */
					thumbnails: false,
					thumbnails_position: 'outside-last', /* outside-last/outside-first/inside-last/inside-first */
					thumbnails_direction: 'vertical', /* vertical/horizontal */
					thumbnails_slidex: 1, /* 0 = auto / 1 = slide one thumbnail / 2 = slide two thumbnails / etc. */
					dynamic_height: false, /* For dynamic height to work in webkit you need to set the width and height of images in the source. Usually works to only set the dimension of the first slide in the showcase. */
					speed_change: true, /* Set to true to prevent users from swithing more then one slide at once. */
					viewline: false, /* If set to true content_width, thumbnails, transition and dynamic_height will be disabled. As for dynamic height you need to set the width and height of images in the source. */
					custom_function: null /* Define a custom function that runs on content change */
				});
		});

	</script>
</head>

<body>
	<div class="container">
		<div class="left">
			<h1>Dographer</h1>
		</div>
		<div class="right">
			<h2>Patricia Ruben</h2>
		</div>
		<div class="clear"></div>
	</div>

	<div id="showcase" class="showcase">
		<!-- Each child div in #showcase represents a slide -->

		{% for image in site.static_files %}
		{% if image.path contains 'photos/come_with_me/' %}
		<div class="showcase-slide">
			<!-- Put the slide content in a div with the class .showcase-content. -->
			<div class="showcase-content">
				<img src="{{ site.baseurl }}{{ image.path }}" alt="01" />
			</div>
		</div>
		{% endif %}
		{% endfor %}

	</div>

	</div>
	<br />
	<div class="container">
		<a href="index.html">
			<div class="box2 green">
				<div class="text_two_line"></div>Dog<br /> Nation
			</div>
		</a>
		<a href="dog_beach.html">
			<div class="box pink">
				<div class="text_two_line"></div>Dog/<br />Dog Beach
			</div>
		</a>
		<a href="other.html">
			<div class="box orange">
				<div class="text_two_line"></div>Other<br /> Creatures
			</div>
		</a>
		<a href="live.html">
			<div class="box yellow">
				<div class="text_two_line"></div>Dogs<br /> Live Here
			</div>
		</a>
		<a href="portraits.html">
			<div class="box teal">
				<div class="text_single_line"></div>Portraits
			</div>
		</a>
		<a href="come_with_me.html">
			<div class="box lav-still">
				<div class="text_two_line"></div>Come<br /> With Me
			</div>
		</a>
		<a href="your_photos.html">
			<div class="box blue">
				<div class="text_two_line"></div>Your<br /> Photos
			</div>
		</a>
		<a href="contact.html">
			<div class="box purple">
				<div class="text_single_line"></div>Contact
			</div>
		</a>

		<div class="clear"></div>
	</div>
	<br />
	<br />
</body>

</html>